<div class="com-relative com-h-auto com-w-full">
  <canvas id="diversity"></canvas>
</div>

<div class="com-relative com-h-auto com-w-full" *ngIf="showChartView">
  <canvas id="responses" style="height: 100%; width: 100%"></canvas>
</div>

<div *ngIf="!showChartView" class="com-w-full">
  <table *ngIf="responses">
    <tr>
      <th colspan="2">Answers</th>
    </tr>
    <tr *ngFor="let response of responses; let i = index">
      <td VALIGN="top">{{ i + 1 }}.</td>
      <td>{{ response }}</td>
    </tr>
  </table>
</div>
